@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PeriodicTable>
	<div class="exit-button-container">
		<img class="exit-button" src="/images/BackButton.png" alt="Back" @onclick=GoToMainMenu />
	</div>
</PeriodicTable>
