@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Fluxor
@using ThePeriodicTableOfElementsGame.GamePlay.Features.MainMenu
@inject IDispatcher Dispatcher
@inject IState<MainMenuState> State

<h1>
    Dmitri Mendeleev's
</h1>
<h2>Periodic table of elements game</h2>
<img id="mendeleev" src="/images/Mendeleev.png" />
<ul class="menu">
   @State.Value.VisibleSubMenu
    <li>
        <button type=button class="button" @onclick=@(() => ShowSubMenu(SubMenuType.FindTheElementGame))>
           Find the element
        </button>
    </li>
    <li>
        <button type=button class="button" @onclick=@(() => ShowSubMenu(SubMenuType.SpeedMatchGame))>
           Speed match game
        </button>
    </li>
</ul>
<div id="credits">
    Written by
    <a href="https://github.com/mrpmorris/the-periodic-table-of-elements-game">
        Peter Morris
    </a>
</div>

