:root {
	--actinide: rgb(173, 209, 120);
	--alkali-metal: rgb(248, 178, 181);
	--alkaline-earth-metal: rgb(252, 227, 199);
	--basic-metal: rgb(170, 242, 204);
	--halogen: rgb(252, 201, 250);
	--lathanide: rgb(214, 235, 187);
	--noble-gas: rgb(171, 148, 255);
	--non-metal: rgb(191, 234, 250);
	--semi-metal: rgb(217, 202, 226);
	--transitional-metal: rgb(187, 187, 187);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #444A5F;
	font-size: 1vw;
	user-select: none;
}

h1 {
	color: white;
	font-size: 5vmin;
	text-align: center;
}

h2 {
	color: white;
	font-size: 3vmin;
	text-align: center;
}

#app .loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5vw;
}

	#app .loading .loading_dot-1 {
		animation: loading-pulse 1.25s infinite ease-in-out;
		animation-delay: 0;
		margin: 0;
		padding: 0;
	}

#app .loading .loading_dot-2 {
	animation: loading-pulse 1.25s infinite ease-in-out;
	animation-delay: 0.1s;
	margin: 0;
	padding: 0;
}

#app .loading .loading_dot-3 {
	animation: loading-pulse 1.25s infinite ease-in-out;
	animation-delay: 0.2s;
	margin: 0;
	padding: 0;
}

#app .loading .loading_mendeleev {
	width: 40vmin;
}


.menu {
	list-style: none;
	padding: 0;
	text-align: center;
}

	.menu > li {
		margin: 3vmin;
	}

	.menu .button {
		border-radius: 8px;
		border: none;
		font-size: 4vmin;
		height: 8vmin;
		width: 50vw;
		vertical-align: middle;
		text-align: center;
		cursor: pointer;
	}

#scene {
	position: relative;
	top: 50vh;
	left: 50vw;
	width: 100vw;
	height: 50vw;
	max-height: 100vh;
	max-width: calc(100vh * 2);
	transform: translate(-50%, -50%);
	transition: transform 2s ease-in-out;
	background-color: #535A73;
	border-radius: 8px;
	border: 1px solid #292D3A;
}

	#scene.--game-play {
		transform: scale(10) rotateZ(5deg);
	}

#main-menu {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40vmin;
	height: calc(1.77 * 40vmin);
	transform: translate(-50%, -50%);
}




.table-of-elements_header {
	position: relative;
	overflow: hidden;
	grid-column-start: 3;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 4;
	font-size: 6vw;
	color: white;
}

.table-of-elements_header-contents {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	animation: fade-and-zoom-in 0.25s ease-in-out forwards;
}

.table-of-elements_header-contents {
	padding: 0.3em;
	text-align: center;
	width: 75%;
}

	.table-of-elements_header-contents > .element-info {
		position: relative;
		width: 100%;
		text-shadow: -1px -1px 0 #888, 1px -1px 0 #888, -1px 1px 0 #888, 1px 1px 0 #888;
	}

		.table-of-elements_header-contents > .element-info > .element-info-background > .element-info-group-name {
			position: absolute;
			right: 0.5em;
			bottom: 0;
		}

		.table-of-elements_header-contents > .element-info > .element-info-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(100% + 1em);
			z-index: -1;
			opacity: 0;
			transition: opacity 1s ease-in;
			text-align: right;
			font-size: 1rem;
			padding: 0.5rem 1rem;
		}

			.table-of-elements_header-contents > .element-info > .element-info-background.--actinide {
				opacity: 1;
				background-color: var(--actinide);
			}

			.table-of-elements_header-contents > .element-info > .element-info-background.--alkali-metal {
				opacity: 1;
				background-color: var(--alkali-metal);
			}

			.table-of-elements_header-contents > .element-info > .element-info-background.--alkaline-earth-metal {
				opacity: 1;
				background-color: var(--alkaline-earth-metal);
			}

			.table-of-elements_header-contents > .element-info > .element-info-background.--basic-metal {
				opacity: 1;
				background-color: var(--basic-metal);
			}

			.table-of-elements_header-contents > .element-info > .element-info-background.--halogen {
				opacity: 1;
				background-color: var(--halogen);
			}

			.table-of-elements_header-contents > .element-info > .element-info-background.--lathanide {
				opacity: 1;
				background-color: var(--lathanide);
			}

			.table-of-elements_header-contents > .element-info > .element-info-background.--noble-gas {
				opacity: 1;
				background-color: var(--noble-gas);
			}

			.table-of-elements_header-contents > .element-info > .element-info-background.--non-metal {
				opacity: 1;
				background-color: var(--non-metal);
			}

			.table-of-elements_header-contents > .element-info > .element-info-background.--semi-metal {
				opacity: 1;
				background-color: var(--semi-metal);
			}

			.table-of-elements_header-contents > .element-info > .element-info-background.--transitional-metal {
				opacity: 1;
				background-color: var(--transitional-metal);
			}

.in-game-stats {
	grid-row-start: 1;
	grid-column-start: 13;
	grid-column-end: 18;
	position: relative;
	font-size: 2vw;
	color: #a5a985;
}

	.in-game-stats > .matched > .label {
		position: absolute;
		top: 0;
		left: 0;
		font-weight: bold;
	}

	.in-game-stats > .matched > .value {
		position: absolute;
		top: 0;
		left: 7em;
	}

	.in-game-stats > .mismatched > .label {
		position: absolute;
		top: 1em;
		left: 0;
		font-weight: bold;
	}

	.in-game-stats > .mismatched > .value {
		position: absolute;
		top: 1em;
		left: 7em;
	}

.--place-the-name .element > .back > .symbol {
	font-size: 2.5em;
}

.--place-the-symbol .element > .back > .name {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scaleY(2);
	font-family: Tahoma, Geneva, sans-serif;
}

@keyframes fade-and-zoom-in {
	from {
		transform: translate(-50%, 50%) scale(0, 0);
		opacity: 0;
	}

	to {
		transform: translate(-50%, 0%) scale(1, 1);
		opacity: 1;
	}
}

@keyframes loading-pulse {
	0% {
		opacity: 0;
	}

	16% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	84% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}
