#mendeleev {
  position: absolute;
  right: 2dvw;
  bottom: 2dvh;
  height: 66%;
  z-index: -1000;
}

#credits {
  position: absolute;
  bottom: 2dvmin;
  text-align: center;
  font-size: 3dvmin;
  width: 100%;
}

h1, h2 {
  text-shadow: 3px 4px 5px black;
}

h1 {
  font-size: 10dvmin;
}

h2 {
  font-size: 6dvmin;
}

.menu {
  margin-top: 4dvmin;
}
