#table-of-elements {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

  #table-of-elements.--game-over-sequence {
    opacity: 0;
    animation: fade-out-and-zoom-in 1s ease-in forwards;
    pointer-events: none;
  }

@keyframes fade-out-and-zoom-in {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(2, 2);
  }
}
