.exit-button-container {
	position:relative;
	grid-column: 1 / span 2;
	grid-row: 8 / span 2;
}

.exit-button {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	margin-top: -35%;
	margin-left: -35%;
	cursor: pointer;
}
