<h1>
	Dmitri Mendeleev's
</h1>
<h2>Periodic table of elements game</h2>
<img id="mendeleev" src="/images/Mendeleev.png"/>
<ul class="menu">
	<li><button type=button class="button" @onclick=@(() => PlayMatchGame(MatchType.PlaceTheName))>Place the name</button></li>
	<li><button type=button class="button" @onclick=@(() => PlayMatchGame(MatchType.PlaceTheSymbol))>Place the symbol</button></li>
</ul>
<div id="credits">
	Written by
	<a href="https://github.com/mrpmorris/the-periodic-table-of-elements-game">
		Peter Morris
	</a>
</div>
