#mendeleev {
	position: absolute;
	right: 2vw;
	bottom: 2vh;
	height: 66%;
	z-index: -1000;
}

#credits {
	position: absolute;
	bottom: 2vh;
	text-align: center;
	font-size: 3vmin;
	width: 100%;
}

h1,h2 {
	text-shadow: 3px 4px 5px black;
}

.menu {
	margin-top: 8vh;
}
