:root {
	--actinide: rgb(173, 209, 120);
	--alkali-metal: rgb(248, 178, 181);
	--alkaline-earth-metal: rgb(252, 227, 199);
	--basic-metal: rgb(170, 242, 204);
	--halogen: rgb(252, 201, 250);
	--lathanide: rgb(214, 235, 187);
	--noble-gas: rgb(171, 148, 255);
	--non-metal: rgb(191, 234, 250);
	--semi-metal: rgb(217, 202, 226);
	--transitional-metal: rgb(230, 230, 230);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #535A73;
	font-size: 0.8vw;
}

#scene {
	position: relative;
	top: 50vh;
	left: 50vw;
	width: 100vw;
	height: 50vw;
	max-height: 100vh;
	max-width: calc(100vh * 2);
	transform: translate(-50%, -50%);
	transition: transform 2s ease-in-out;
}

	#scene.--game-play {
		transform: scale(10) rotateZ(5deg);
	}

#main-menu {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40vmin;
	height: calc(1.77 * 40vmin);
	transform: translate(-50%, -50%);
}

#mendelev {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: calc(1.77 * 40vmin);
	transform: translate(-50%, -50%);
}

#table-of-elements {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}

	#table-of-elements > .element {
		text-align: center;
		margin: 1px;
		perspective: 1000px;
		background-color: transparent;
		position: relative;
		transition: transform 0.3s;
		border-radius: 4px;
		transform-style: preserve-3d;
		cursor: pointer;
	}

		#table-of-elements > .element > .front {
			position: absolute;
			width: 100%;
			height: 100%;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		#table-of-elements > .element > .back {
			position: absolute;
			width: 100%;
			height: 100%;
			transform: rotateY(180deg);
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		#table-of-elements > .element .atomic-number {
			text-align: left;
			margin: 4px;
		}

		#table-of-elements > .element .symbol {
			text-align: center;
			font-size: 1.5em;
			font-weight: bold;
		}

		#table-of-elements > .element .name {
			text-align: center;
		}

		#table-of-elements > .element.--lathanide {
			margin-top: 1.5rem;
		}

		#table-of-elements > .element.--actinide > .front,
		#table-of-elements > .element.--actinide > .back {
			background-color: var(--actinide);
		}

		#table-of-elements > .element.--alkali-metal > .front,
		#table-of-elements > .element.--alkali-metal > .back {
			background-color: var(--alkali-metal);
		}

		#table-of-elements > .element.--alkaline-earth-metal > .front,
		#table-of-elements > .element.--alkaline-earth-metal > .back {
			background-color: var(--alkaline-earth-metal);
		}

		#table-of-elements > .element.--basic-metal > .front,
		#table-of-elements > .element.--basic-metal > .back {
			background-color: var(--basic-metal);
		}

		#table-of-elements > .element.--halogen > .front,
		#table-of-elements > .element.--halogen > .back {
			background-color: var(--halogen);
		}

		#table-of-elements > .element.--lathanide > .front,
		#table-of-elements > .element.--lathanide > .back {
			background-color: var(--lathanide);
		}

		#table-of-elements > .element.--noble-gas > .front,
		#table-of-elements > .element.--noble-gas > .back {
			background-color: var(--noble-gas);
		}

		#table-of-elements > .element.--non-metal > .front,
		#table-of-elements > .element.--non-metal > .back {
			background-color: var(--non-metal);
		}

		#table-of-elements > .element.--semi-metal > .front,
		#table-of-elements > .element.--semi-metal > .back {
			background-color: var(--semi-metal);
		}

		#table-of-elements > .element.--transitional-metal > .front,
		#table-of-elements > .element.--transitional-metal > .back {
			background-color: var(--transitional-metal);
		}

		#table-of-elements > .element.--concealed {
			transform: rotateY(180deg)
		}


.table-of-elements_header {
	position: relative;
	overflow: hidden;
	grid-column-start: 3;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 4;
	font-size: 4vw;
}

.table-of-elements_header-contents {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	animation: fade-and-zoom-in 0.25s ease-in-out forwards;
}

.table-of-elements_header-contents {
	padding: 0.3em;
	text-align: center;
	width: 75%;
}

	.table-of-elements_header-contents > .element-name {
		position: relative;
		width: 100%;
		height: 100%;
	}

		.table-of-elements_header-contents > .element-name > .element-name-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			opacity: 0;
			transition: opacity 1s ease-in;
			text-align: right;
			font-size: 1rem;
			padding: 0.5rem 1rem;
		}

			.table-of-elements_header-contents > .element-name > .element-name-background.--actinide {
				opacity: 1;
				background-color: var(--actinide);
			}

			.table-of-elements_header-contents > .element-name > .element-name-background.--alkali-metal {
				opacity: 1;
				background-color: var(--alkali-metal);
			}

			.table-of-elements_header-contents > .element-name > .element-name-background.--alkaline-earth-metal {
				opacity: 1;
				background-color: var(--alkaline-earth-metal);
			}

			.table-of-elements_header-contents > .element-name > .element-name-background.--basic-metal {
				opacity: 1;
				background-color: var(--basic-metal);
			}

			.table-of-elements_header-contents > .element-name > .element-name-background.--halogen {
				opacity: 1;
				background-color: var(--halogen);
			}

			.table-of-elements_header-contents > .element-name > .element-name-background.--lathanide {
				opacity: 1;
				background-color: var(--lathanide);
			}

			.table-of-elements_header-contents > .element-name > .element-name-background.--noble-gas {
				opacity: 1;
				background-color: var(--noble-gas);
			}

			.table-of-elements_header-contents > .element-name > .element-name-background.--non-metal {
				opacity: 1;
				background-color: var(--non-metal);
			}

			.table-of-elements_header-contents > .element-name > .element-name-background.--semi-metal {
				opacity: 1;
				background-color: var(--semi-metal);
			}

			.table-of-elements_header-contents > .element-name > .element-name-background.--transitional-metal {
				opacity: 1;
				background-color: var(--transitional-metal);
			}

@keyframes fade-and-zoom-in {
	from {
		transform: translate(-50%, 50%) scale(0, 0);
		opacity: 0;
	}

	to {
		transform: translate(-50%, 0%) scale(1, 1);
		opacity: 1;
	}
}