#table-of-elements > .element {
	text-align: center;
	margin: 1px;
	perspective: 1000px;
	background-color: transparent;
	position: relative;
	transition: transform 0.3s;
	border-radius: 4px;
	transform-style: preserve-3d;
	cursor: pointer;
}

	#table-of-elements > .element > .front {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	#table-of-elements > .element > .back {
		position: absolute;
		width: 100%;
		height: 100%;
		transform: rotateY(180deg);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	#table-of-elements > .element .atomic-number {
		text-align: left;
		margin: 4px;
	}

	#table-of-elements > .element .symbol {
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
	}

	#table-of-elements > .element .name {
		text-align: center;
	}

	#table-of-elements > .element.--lathanide {
		margin-top: 1.5rem;
	}

	#table-of-elements > .element.--actinide > .front,
	#table-of-elements > .element.--actinide > .back {
		background-color: var(--actinide);
	}

	#table-of-elements > .element.--alkali-metal > .front,
	#table-of-elements > .element.--alkali-metal > .back {
		background-color: var(--alkali-metal);
	}

	#table-of-elements > .element.--alkaline-earth-metal > .front,
	#table-of-elements > .element.--alkaline-earth-metal > .back {
		background-color: var(--alkaline-earth-metal);
	}

	#table-of-elements > .element.--basic-metal > .front,
	#table-of-elements > .element.--basic-metal > .back {
		background-color: var(--basic-metal);
	}

	#table-of-elements > .element.--halogen > .front,
	#table-of-elements > .element.--halogen > .back {
		background-color: var(--halogen);
	}

	#table-of-elements > .element.--lathanide > .front,
	#table-of-elements > .element.--lathanide > .back {
		background-color: var(--lathanide);
	}

	#table-of-elements > .element.--noble-gas > .front,
	#table-of-elements > .element.--noble-gas > .back {
		background-color: var(--noble-gas);
	}

	#table-of-elements > .element.--non-metal > .front,
	#table-of-elements > .element.--non-metal > .back {
		background-color: var(--non-metal);
	}

	#table-of-elements > .element.--semi-metal > .front,
	#table-of-elements > .element.--semi-metal > .back {
		background-color: var(--semi-metal);
	}

	#table-of-elements > .element.--transitional-metal > .front,
	#table-of-elements > .element.--transitional-metal > .back {
		background-color: var(--transitional-metal);
	}

	#table-of-elements > .element.--concealed {
		transform: rotateY(180deg)
	}
