@inherits ComponentBase
<Fluxor.Blazor.Web.StoreInitializer />
<div id="scene" class="@GetSceneCss()">
	<PeriodicTable>
		<Header>
			@if (GameState.Value.ExpectedElement.HasValue)
			{
				<div class="table-of-elements_header-contents" @key=@(GameState.Value.ExpectedElement ?? -1)>
					<div class="element-name">
						@PeriodicTableData.TableData.ElementByNumber[GameState.Value.ExpectedElement.Value].Name
						<div class="element-name-background @GetElementGroupAsCssClass()">
							@PeriodicTableData.TableData.ElementByNumber[GameState.Value.ExpectedElement.Value].Group.GetDescription()
						</div>
					</div>
				</div>
			}
		</Header>
	</PeriodicTable>
</div>
