@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<div @attributes=Attributes id="table-of-elements">
	@if (ChildContent != null)
	{
		@ChildContent
	}
	@foreach (ElementState elementState in GameState.Value.ElementStates.Values)
	{
		<Element State=@elementState />
	}
</div>
