@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using ThePeriodicTableOfElementsGame.Blazor.Web.Scenes.ElementsMatchGame
@using ThePeriodicTableOfElementsGame.Blazor.Web.Scenes.TitleScreen
@using ThePeriodicTableOfElementsGame.GamePlay.Features.App
@inject IState<AppState> AppState

<Fluxor.Blazor.Web.StoreInitializer />

<div id="rotate-your-device">
    <h1>Rotate your device</h1>
    <h2>This game must be played in landscape orientation</h2>
</div>

<div id="scene">
    @if (AppState.Value.ActiveScene == Scene.TitleScreen)
    {
        <TitleScreen />
    }
    else if (AppState.Value.ActiveScene == Scene.ElementsMatchGame)
    {
        <ElementsMatchGame />
    }
    else if (AppState.Value.ActiveScene == Scene.SpeedMatchGame)
    {
        <h1>// TODO</h1>
    }
</div>