@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using ThePeriodicTableOfElementsGame.Blazor.Web.Scenes.ElementsMatchGame
@using ThePeriodicTableOfElementsGame.Blazor.Web.Scenes.TitleScreen
@using ThePeriodicTableOfElementsGame.GamePlay.Features.App
@inject IState<AppState> AppState
<Fluxor.Blazor.Web.StoreInitializer />
<LayoutView Layout=typeof(MainLayout)>
	@if (AppState.Value.ActiveScene == Scene.TitleScreen)
	{
		<TitleScreen />
	}
	else if (AppState.Value.ActiveScene == Scene.ElementsMatchGame)
	{
		<ElementsMatchGame/>
	}
	else if (AppState.Value.ActiveScene == Scene.SpeedMatchGame)
	{
		<h1>// TODO</h1>
	}
</LayoutView>